DJANGO_SETTINGS_MODULE=config.settings
CLIENT_ID=
CLIENT_SECRET=
SOCIAL_AUTH_GLOBUS_KEY=
SOCIAL_AUTH_GLOBUS_SECRET=
LOCAL_FS_BASE=
PROJECT_TITLE="Dry Lab Notebook"
SECRET_KEY=

INDEX_1_SLUG=
INDEX_1_NAME=
INDEX_1_UUID=
INDEX_2_SLUG=
INDEX_2_NAME=
INDEX_2_UUID=