{% extends 'globus-portal-framework/v2/detail-base.html' %}


{% block breadcrumb_items %}
{{block.super}}
<li class="breadcrumb-item">
  <a class="h5" href="{% url 'search' globus_portal_framework.index %}">{{globus_portal_framework.index_data.name}}</a>
</li>
{% for name, path in dirs.items %}
<li class="breadcrumb-item">
  <a href="{% url 'search' globus_portal_framework.index %}?q={{ path }}">{{ name }}</a>
</li>
{% endfor %}
{% with all|first as file %}
<li class="breadcrumb-item">
  <a>{{ file.name }}</a>
</li>
{% endwith %}

{% endblock %}


{% block detail_body %}

<div class="row">
  <div class="col-md-12">

    {% block detail_search_content %}

    {% with all|first as file %}

    <table class="table table-striped table-bordered">
      <thead>
          <tr>
              <th>Name</th>
              <th>Size</th>
              <th>Owner</th>
              <th>Modified</th>
              <th>Indexed</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>{{ file.name }}</td>
              <td>{{ file.size|filesizeformat }}</td>
              <td>{{ file.user }}</td>
              <td>{{ file.last_modified|date:"M d, Y H:i" }}</td>
              <td>{{ file.date_indexed|date:"M d, Y H:i" }}</td>
          </tr>
      </tbody>
    </table>

    {% endwith %}

    {% endblock %}


  </div>
</div>

{% endblock %}